body{
    background: #0F0E17;
    /* background: #221392: */
}

.search-bar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: 12rem;
    margin-bottom: 30px;
}

.container-carousel{
    margin: 1rem 7rem 0 7rem; 
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

.container-image{
    display: flex;
    justify-content: center;
}

.img-carousel{
    height: 400px;
    width: 100%;
    border-radius: 20px;
}

.carousel-buttons{
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 50px;
    right: 20px;    
}

.container-pages{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container-input{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.label-input{
    color: white;
}

.input-pages{
    width: 60px;
    text-align: center;
}

.btn-pages{
    width: 200px;
    color: white;
    cursor: pointer;;
    font-size: 18px;
    text-align: center;
    margin-right: 40px;
}

.btn-pages:hover{
    text-decoration: underline;
}

.cards-title{
    color: white;
    font-size: 60px;
    font-weight: 600;
    margin: 4rem 2rem 2rem;
    display: flex;
}

.container-cards{
    display: flex;    
    justify-content: center;
    margin-left: 6rem;
}

.card{
    width: 220px;
    height: 330px;
    margin: 1.5rem;
    padding: 0;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    box-shadow: 5px 5px 10px white;
    overflow: hidden;
}

.img-card{    
    width: 220px;
    height: 330px;
    border-radius: 0;
    z-index: 1;
}

.card-average{
    border: 1px solid black;
    border-radius: 0 20px 20px 0;
    z-index: 2;
    position: absolute;
    top: 30px;    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 80px;
    background-color: black;
    opacity: 0.7;
}

.btn-trailer-description{
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 120px;
    height: 30px;
    background-color: #FED941;
    text-align: center;
    border-radius: 0 0 20px 20px;
    
}

h3{
    color: white;
    font-size: 26px;
    font-weight: 10;
}

.container-modal{
    height: fit-content;
}

.container-modal-body{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.img-modal{
    width: 282.45px;
    height: 403.49px;
    /* left: 0px;
    top: 259.24px; */

    /* transform: matrix(0.71, -0.41, 1.22, 0.71, 0, 0); */
}

.data-modal{
    display: inherit;
    flex-direction: column;
    justify-content: center;
    margin: 0px 40px; 
}

.overview-modal{
     width: 400px; 

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
}

.button-trailer{
    width: 200px;
    height: 50px;
    position: relative;
    top: -20px;
    cursor: pointer;
}

.container-modal-trailer{
    display: flex;
    justify-content: center;
}